/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


 */.backgroundHome {
    background-color: rgba(255, 200, 0, 0.933);
    background-size: cover;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filterTypes,
.orderName,
.orderAttack,
.filterCreation {
    width: 235px;
    height: 40px;
    background-color: white;
    border-style: none;
    border-radius: 35px;
    padding: 10px;
    outline: none;
    font-size: medium;
    color: rgb(78, 78, 78);
    box-shadow: 0 4px 2px 0 rgba(82, 82, 82, 0.2);
}


.containerPag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.pagContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 35px;
}

.prev,
.next {
    padding: 0 10px;
    margin: 10px;
    border-style: none;
    background-color: white;
    color: orange;
    border-style: solid 20px;
    border-color: orange;
    /* font-family: 'Oswald', sans-serif; */
    font-size: larger;
}

.disabledPrev,
.disabledNext {
    padding: 0 10px;
    margin: 10px;
    border-style: none;
    background-color: white;
    color: rgb(166, 166, 166);
    border-style: solid 20px;
    border-color: orange;
    /* font-family: 'Oswald', sans-serif; */
    font-size: large;
}

.prev:hover,
.next:hover {
    background-color: orange;
    border-radius: 35px;
    color: white;
    transition: 0.3s;
} 

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 30px; 
}

footer {
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.sadPika {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 100px;
}


.pokeballLoading {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

.imgLoading {
    width: 300px;
    height: 300px;
    animation: spin 2s infinite;
}

.nav {
    box-shadow: 0 4px 4px 0 rgba(82, 82, 82, 0.2);
}