@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


.pag {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    flex-wrap: wrap;
    width: auto;
    padding: 5px;
}

.number {
    margin: 5px;
    padding: 10px;
    color: orange;
    cursor: default;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
}

.number:hover {
    background-color: orange;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
} 